<div class="header">
	<h1>An About Page</h1>
</div>

<div class="content">
	<p>I'm not sure why all apps seem to have this page.  It doesn't do anything useful.</p>
	<p>Here's a random map, to prove the point.</p>
	<p><em>Where is it centered?</em></p>
	<p>Your guess is as good as mine.</p>
	<img class="centered" src="http://maps.googleapis.com/maps/api/staticmap?visual_refresh=true&amp;size=640x640&amp;zoom=15&amp;scale=2&amp;sensor=false&amp;markers=42.890936,-78.876284" width="640" height="640" />
</div>