<div class="header">
	<h1>About Frameworkless</h1>
</div>

<div class="content">
	<h2 id="modules">Overview</h2>

	<p>A simple, flexible framework for developing medium complexity web application frontends.</p>

	<h2 id="modules">Modules</h2>

	<p>Frameworkless is made up of three main modules:  </p>

	<p><strong>events</strong> <br>
	<em>(module/class/mixin)</em> - Provides event firing and listening.  </p>

	<p><strong>router</strong> <br>
	<em>(module/class)</em> - Instantiable declarative URL router.  </p>

	<p><strong>util</strong> <br>
	<em>(namespace)</em> - Utility functions and essential ES5 polyfills.  </p>

	<p>These modules provide the necessary tools for most of the logic one might be required to implement on the client.  You can load them using <a href="http://requirejs.org/">require</a> or anoyther AMD-compatible loader.  </p>

	<blockquote>
	  <p>Credit to <a href="https://github.com/moot/riotjs">Riot.js</a> for sharing their ideology.  Riot is a great framework, it’s just a different take on the most useful conventions for simple frontend development.*  </p>
	</blockquote>

	<hr>

	<h1 id="license">License</h1>

	<p>Hopefully GPLv3 or similar.  </p>
</div>
