<div class="header">
	<h1 id="frameworkless">{{{page.name}}}</h1>

	<p>A simple, flexible framework for developing medium complexity web application frontends.  </p>
</div>

<hr>

<div class="content">

	<h2 id="quick-start">Quick Start</h2>

	<p>To get started über quick, you can generate a frameworkless app skeleton using Yeoman.  </p>

	<p><strong>Install the frameworkless yeoman generator:</strong> <br>
	<code>npm install -g generator-frameworkless</code>  </p>

	<p><strong>Generate your scaffolding:</strong> <br>
	<code>yo frameworkless</code>  </p>

	<hr>

	<h2 id="medium-start">Medium Start</h2>

	<p>If you’re a little more particular about picking up new frameworks <em>(guilty)</em>, you may prefer to get things started manually so you can disassemble and play around at your lesure.  </p>

	<p><strong>Clone the QuickStart repo manually:</strong> <br>
	<code>git clone git@github.com:frameworkless/frameworkless-boilerplate.git</code>  </p>

	<p><strong>Take a look around:</strong>  </p>

	<ul>
	<li>Framework bits live in <code>public/js/lib</code></li>
	<li>App code is in <code>public/js/app</code>, <code>public/templates</code> and <code>public/css</code>.  </li>
	</ul>

	<hr>

	<h2 id="slow-start">Slow Start</h2>

	<p>Ok, so maybe you are just a bit … <em>cautious?</em>  Yes, you’re just cautious, that’s all.  Slow and steady wins the race.  It’s <em>definitely</em> not a fear thing, that would be ridiculous!  </p>

	<p>.. right?</p>

	<hr>

	<h2 id="modules">Modules</h2>

	<p>Frameworkless is made up of three main modules:  </p>

	<p><strong>events</strong> <br>
	<em>(module/class/mixin)</em> - Provides event firing and listening.  </p>

	<p><strong>router</strong> <br>
	<em>(module/class)</em> - Instantiable declarative URL router.  </p>

	<p><strong>util</strong> <br>
	<em>(namespace)</em> - Utility functions and essential ES5 polyfills.  </p>

	<p>These modules provide the necessary tools for most of the logic one might be required to implement on the client.  You can load them using <a href="http://requirejs.org/">require</a> or anoyther AMD-compatible loader.  </p>

	<blockquote>
	  <p>Credit to <a href="https://github.com/moot/riotjs">Riot.js</a> for sharing their ideology.  Riot is a great framework, it’s just a different take on the most useful conventions for simple frontend development.*  </p>
	</blockquote>

	<hr>

	<h2 id="dom-make-me-think">DOM Make Me Think</h2>

	<p>One very common feature is notably absent: there is no DOM abstraction.  Taking yet another page from <a href="https://github.com/moot/riotjs">Riot.js</a>, DOM manipulation is left up to you, or to your library of choice.  </p>

	<p>In the Quick Start example, a ridiculously thin DOM abstraction called <a href="https://github.com/developit/ford.js">ford.js</a> is being used.  You are free to use whichever library you are most comfortable with - or no library at all.  </p>

	<p>Perhaps you may find the need for complete abstraction of the DOM slowly fades away.  </p>

	<hr>

	<h1 id="license">License</h1>

	<p>Hopefully GPLv3 or similar.  </p>

	<p>You can check out <a href="docs/">the documentation</a>.</p>
</div>
